.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 3.2rem;
}

